[user]
	name = Justus Luthy
	email = jluthy@lodgenet.com
[merge]
	tool = opendiff 
[giggle]
	compact-mode = true
	main-window-maximized = true
	main-window-geometry = 0x0+0+0
[alias]
	co = checkout
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
  tagshow = !sh -c 'git show-ref --tags | sort'
	di = diff
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[diff]
	tool = opendiff 
