[user]
	name = Justus Luthy
	email = jluthy@expansioncapitalgroup.com
[merge]
	tool = opendiff
[giggle]
	compact-mode = true
	main-window-maximized = true
	main-window-geometry = 0x0+0+0
[alias]
	co = checkout
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
  tagshow = !sh -c 'git show-ref --tags | sort'
	di = diff
  score = shortlog -s -n
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[diff]
	tool = opendiff
[push]
	default = upstream
[commit]
  template = ~/.gitmessage.txt
[core]
	excludesfile = /Users/jluthy/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
